
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* -----------------
fonts 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------
variables
--------------------------------------- */

:root{
  --main-color:#eaa023;
  --dark:#0c1023;
  --dark-light:#191f3a;
  --white:#ffffff;
  --white-light:#c8c8c8;
  --shadow:0 0 15px rgba(0,0,0,0.25);
  --border-color:#b83120;
  --cursive-font:'Dancing Script',cursive;
  scroll-behavior:smooth;
}


body,
input {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  /* background-color: #e8eef3; */ 
  /* background-color: var(--dark); */
}


.nav ul{
    list-style: none;
  }
  .nav a{
    text-decoration: none;
  }
  .container-box{
    max-width: 1170px;
    margin: auto;
  
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .align-items-center{
    align-items: center;
  }
  .justify-content-between{
    justify-content: space-between;
  }

/*---------------------------
 header 
 --------------------------------*/
.header{
    background-color: var(--dark-light);
    padding: 12px 0 ;
    line-height: 1.5;
    position: sticky;
    margin-bottom: 5px;
    
  }
  .header .logo a{
      
    font-size: 30px;
    color: var(--white);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--cursive-font);
    
  }
  .header .logo,
  .header .nav{
    padding:0 15px ;
  }
  .header .nav ul li{
    display: inline-block;
    margin-left: 21px;
  
  }
  .header .nav ul li a
 
  {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white);
    padding: 10px 0;
	position:relative;
    transition: all 0.5s ease;

  }
.nav a:before{
	content:"";
	position:absolute;
	width:0;
	left:8%;
	top:100%;
	height:4px;
	background-color:orange;
	transition:all 0.7s linear;
}
.nav a:hover:before{
	width:100%;
}
  .header .nav ul li a:hover
{
    color: var(--main-color);
  }


  /* -------------------
  food menu
  ------------------------------- */

  .menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    grid-gap: 1.5rem;
    margin: 1.5rem;
  }
  .food-items{
    box-shadow: 0 0 20px ;
    text-align: center;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
  }
  .food-items p,
  .food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .details-sub h5{
    font-weight: 1800;
    font-size: 18px;
  }
  .price {
    font-weight: 400;
    font-size: 18px;
  }

   .details button{
    width: 100%;
    background-color: var(--dark-light);
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2.5px;
    margin-top: 20px;
    padding: 1rem;
  }
  .details button:hover{
    background-color: var(--main-color);
    color: var(white);
  }
 
  .food-items i{
    color: var(--main-color);
  }
  

/* -----------------
footer
------------------------------- */

.footer{
    padding: 80px 0 0;
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;

}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}
.footer-item{
    width: calc(100%/3);
    padding: 0 15px;
    text-align: center;

}
.footer-item h3{
	letter-spacing:3px;
    text-transform: capitalize;
    font-size: 22px;
    margin: 0 0 15px;
	color:white;
}
.footer-item p{
	color:white;
	letter-spacing:3px;
    line-height: 30px;

}
.footer-item .social-links{
    margin-top: 15px;
}
.footer-item .social-links a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    color: var(--white-light);
    font-size: 22px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;

}

.footer-item .social-links a:hover{
    color: var(--main-color);

}
.footer .copyright{
    letter-spacing:3px;
	font-weight:bold;
	word-spacing:5px;
    margin: 80px 0 0;
    width: 100%;
	color:white;
    text-align: center;
    padding: 25px 15px;
    font-size: 25px;
    border-top: 1px solid var(--white-light);
}

/*Scroll Top Styling */
html{
	scroll-behavior:smooth;
}
#scrolltop{
	height:65px;
	width:65px;
	background-color:orange;
	position:fixed;
	bottom:10px;
	right:10px;
	border-radius:50%;
	z-index:5;
	transition:background-color 1s;
}
#scrolltop:hover{
	background-color:white;
	cursor:pointer;
}
#scrolltop i{
	
	margin-left:7px;
	font-size:44px;
	padding:10px;
}

  